pandas
yfinance
requests
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
chromadb
unstructured
sentence-transformers
markdown
python-magic
python-magic-bin; sys_platform == 'win32'
libmagic